{% extends 'base.html' %}
{% block content %}
<!-- room.html is used for main communication, quite a bit of css styling, pulls room code from form and puts in header {{code}}-->
<div class="message-box">
    <h2>Chad Chat: {{code}}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <!-- creates a messaging box for sending messages -->
        <input type="texts" rows="3" placeholder="Message" name="message" id="message" />
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">
            Send
        </button>
    </div>
</div>
<!-- saves and receives messages and updates without refreshing page, -->
<script type="text/javascript">
    var socketio = io();

    const message = document.getElementById("messages")

    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `
        messages.innerHTML += content;
    }

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if (message.value == "") return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    };
</script>
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
