.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Buttons Display: aligned in a column, center, with a 10 pixel gap */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Join Display */
.join {
    display: flex;
    flex-direction: row;
    width: 100%;

}
/* Button Display,  makes it larger */
.create-btn {
    width: 100%;
}
/* Message Display: makes it larger, black border, stretches size with size of window */
.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}
/* Message Display : makes it larger and scrollable */
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%
}
/* Message text box display: */
.inputs {
    padding: 10px;
    display: flex;
}
/* Room.Html header */
h2 {
    text-align: center;
}
/* Message box Display */
#message {
    flex: 1;
}
/* Chat Text Display: flex/space between pushes date away from text, */
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}
